<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="FutureStarEntities" connectionString="metadata=res://*/FutrueStarDB.csdl|res://*/FutrueStarDB.ssdl|res://*/FutrueStarDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FutureStar;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>