#question {
    font-size: 2em;
    height: 25px;
}
#answers {
    height: 250px;
}

.answer {
    border: solid;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    margin: 15px;
    font-size: 2em;
    float: left;
}
.answered .correct {
    background-color: green;color: yellow;
}
.answered .wrong {
    background-color: darkred;
    color: white;
}