<?xml version="1.0" encoding="utf-8" ?>

<StructureMap MementoStyle="Attribute" >

  <DefaultInstance
       PluginType="DTOs.API.IFutureStarAPI,DTOs"
       PluggedType="MockBL.FutureStarService,MockBL"
       Scope="Singleton"
       />

  <DefaultInstance
     PluginType="DTOs.API.IFutureStarDAL,DTOs"
     PluggedType="MockDAL.FutureStarMockUpService,MockDAL"
     Scope="Singleton"
       />


</StructureMap>

